@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
* {
  padding: 0;
  margin: 0;
  color: #111113;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html body {
  max-width: 100vw;
  width: 100% !important;
  height: 100%;
  overflow-x: hidden !important;
  background: #FAFAFF;
}

.container-fluid {
  padding: 0;
}

.container-fluid header {
  width: 100%;
  height: 100%;
  margin: auto 0;
  z-index: 1000;
  position: relative;
  top: 0;
  left: 0;
  background: #8DCBE2;
}

.container-fluid header nav {
  width: inherit;
  padding: 0 20px;
}

.container-fluid div#banner {
  height: 100vh;
  width: 100vw;
  margin: auto 0;
  position: relative;
  z-index: -10;
  background: url("/assets/img/pic01.jpg") no-repeat bottom fixed;
  background-size: cover;
}

.container-fluid div#banner h1#banner--title {
  width: 100%;
  position: absolute;
  top: calc(166px + 5vh);
  font-size: 60px;
  text-align: center;
  -webkit-text-stroke: 0.5px #FAFAFF;
}

@media (max-width: 576px) {
  .container-fluid div#banner h1#banner--title {
    font-size: 40px;
  }
}

.container-fluid div#banner h2#banner--subtitle {
  width: 100%;
  position: absolute;
  top: calc(166px + 20vh);
  text-align: center;
  font-size: 50px;
  -webkit-text-stroke: 0.5px #FAFAFF;
}

@media (max-width: 576px) {
  .container-fluid div#banner h2#banner--subtitle {
    font-size: 30px;
  }
}

.container-fluid div#banner div#banner--skew {
  width: 100vw;
  height: 20vh;
  border-style: solid;
  border-width: 0 0 20vh 100vw;
  border-color: transparent transparent #FAFAFF transparent;
  position: absolute;
  top: calc(100% - 20vh);
}

.container-fluid main#whoAre {
  height: 120%;
  position: relative;
  margin: auto 0;
  margin-bottom: 70px;
}

.container-fluid main#whoAre h2 {
  text-align: center;
}

.container-fluid main#whoAre section.text-container {
  position: relative;
  top: 30px;
  padding: 0 60px;
}

.container-fluid main#whoAre section.text-container p img {
  float: right;
  width: 30vw;
}

.container-fluid main#whoAre div#whoAre-vermas {
  width: 100px;
  display: block;
  margin: 50px auto !important;
}

.container-fluid main#whoAre div#whoAre-vermas span {
  width: 100px;
  display: inline-block;
  text-align: center;
  font-size: 1.2em;
}

.container-fluid main#whoAre div#whoAre-vermas i {
  width: 100px;
  display: inline-block;
  text-align: center;
  font-size: 1.2em;
}

.container-fluid section#news {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: auto 0;
}

.container-fluid section#news div.row {
  padding: 0 20px;
  width: 100%;
  margin: 0;
}

.container-fluid section#news div.row article.post a {
  text-decoration: none;
}

.container-fluid section#news div.row article.post a div.card {
  border-radius: 15px;
  box-shadow: 8px 24px 33px -2px rgba(168, 165, 165, 0.56);
  -webkit-box-shadow: 8px 24px 33px -2px rgba(168, 165, 165, 0.56);
  -moz-box-shadow: 8px 24px 33px -2px rgba(168, 165, 165, 0.56);
}

.container-fluid section#news div.row article.post a div.card img {
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.container-fluid footer#footer {
  padding: 10px 5vw;
}

.container-fluid footer#footer ul {
  width: 100%;
  list-style: none;
}

.container-fluid footer#footer ul div.row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container-fluid footer#footer ul div.row li {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid footer#footer ul div.row li i {
  font-size: 30px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
  -webkit-transition: ease .4s;
  transition: ease .4s;
}

.container-fluid footer#footer ul div.row li i:hover {
  background: #C2EBFF;
  text-align: center !important;
}

.container-fluid footer#footer ul div.row li a {
  text-decoration: none;
  color: #111113;
}
/*# sourceMappingURL=index.css.map */