@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
* {
  padding: 0;
  margin: 0;
  color: #111113;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background: #FAFAFF;
}

.container-xxxl header {
  width: 100vw;
  height: 100%;
  z-index: 100;
  background: #8DCBE2;
}

.container-xxxl header nav {
  width: inherit;
}

.container-xxxl div#banner {
  height: 100vh;
  width: 100vw;
  z-index: -10;
  background: url("/assets/img/pic01.jpg") no-repeat bottom fixed;
  background-size: cover;
}

.container-xxxl div#banner h1#banner--title {
  position: absolute;
  top: calc(166px + 20vh);
  font-size: 60px;
  text-align: center;
  -webkit-text-stroke: 0.5px #FAFAFF;
}

.container-xxxl div#banner h2#banner--subtitle {
  position: absolute;
  top: calc(166px + 40vh);
  text-align: center;
  font-size: 50px;
  -webkit-text-stroke: 0.5px #FAFAFF;
}

.container-xxxl div#banner div#banner--skew {
  width: 100vw;
  height: 20vh;
  border-style: solid;
  border-width: 0 0 20vh 100vw;
  border-color: transparent transparent #FAFAFF transparent;
  position: absolute;
  top: calc(166px + 80vh);
}

.container-xxxl main#whoAre {
  margin-bottom: 70px;
}

.container-xxxl main#whoAre h2 {
  text-align: center;
}

.container-xxxl main#whoAre section.text-container {
  position: relative;
  top: 30px;
  padding: 0 60px;
}

.container-xxxl main#whoAre section.text-container p img {
  float: right;
  width: 30vw;
}

.container-xxxl main#whoAre div#whoAre-vermas {
  width: 100px;
  display: block;
  margin: 40px auto;
}

.container-xxxl main#whoAre div#whoAre-vermas span {
  width: 100px;
  display: inline-block;
  text-align: center;
  font-size: 1.2em;
}

.container-xxxl main#whoAre div#whoAre-vermas i {
  width: 100px;
  display: inline-block;
  text-align: center;
  font-size: 1.2em;
}

.container-xxxl section#news {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container-xxxl section#news .container-fluid .row {
  padding: 2vw;
}

.container-xxxl section#news .container-fluid .row div.news--posts {
  padding: 20px 2vw;
}

.container-xxxl section#news .container-fluid .row div.news--posts article {
  border-radius: 10px;
  background: url("/assets/img/pic01.jpg") no-repeat center;
  height: 250px;
  box-shadow: 19px 13px 36px 0px rgba(119, 120, 124, 0.41);
  -webkit-box-shadow: 19px 13px 36px 0px rgba(119, 120, 124, 0.41);
  -moz-box-shadow: 19px 13px 36px 0px rgba(119, 120, 124, 0.41);
}

.container-xxxl section#news .container-fluid .row div.news--posts article footer {
  height: 150px;
  padding: 5px 10px;
  position: relative;
  top: 100px;
  background: rgba(224, 224, 224, 0.7);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-transition: .4s;
  transition: .4s;
}

.container-xxxl section#news .container-fluid .row div.news--posts article footer .row {
  padding: 5px;
}

.container-xxxl footer#footer {
  padding: 10px 5vw;
}

.container-xxxl footer#footer ul {
  width: 100%;
  list-style: none;
}

.container-xxxl footer#footer ul div.row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container-xxxl footer#footer ul div.row li {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-xxxl footer#footer ul div.row li i {
  font-size: 30px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
  -webkit-transition: ease .4s;
  transition: ease .4s;
}

.container-xxxl footer#footer ul div.row li i:hover {
  background: #C2EBFF;
  text-align: center;
}

.container-xxxl footer#footer ul div.row li a {
  text-decoration: none;
  color: #111113;
}
/*# sourceMappingURL=index.css.map */