@import '../inc/rules';
.container-fluid{
   padding: 0;
   // HEADER
   @import '../inc/header';
   
   // BANNER
   div#banner{
      height: 100vh;
      width: 100vw;
      margin: auto 0;
      position: relative;
      z-index: -10;
      background: url('/assets/img/pic01.jpg') no-repeat bottom fixed;
      background-size: cover;
      
      h1#banner--title{
         width: 100%;
         position: absolute;
         top: calc(166px + 5vh);
         font-size: 60px;
         text-align: center;
         -webkit-text-stroke: 0.5px $col-white;
         @media (max-width: 576px){
            font-size: 40px;
         }
      }
      h2#banner--subtitle{
         width: 100%;
         position: absolute;
         top: calc(166px + 20vh);
         text-align: center;
         font-size: 50px;
         -webkit-text-stroke: 0.5px $col-white;
         @media (max-width: 576px){
            font-size: 30px;
         }
      }
      div#banner--skew{
         width: 100vw;
         height: 20vh;
         border-style: solid;
         border-width: 0 0 20vh 100vw;
         border-color: transparent transparent $col-white transparent;
         position: absolute;
         top: calc(100% - 20vh);
      }
   }
   
   // MAIN
   main#whoAre{
      height: 120%;
      position: relative;
      margin: auto 0;
      margin-bottom: 70px;
      h2{
         text-align: center;
      }
      section.text-container{
         position: relative;
         top: 30px;
         padding: 0 60px;
         p{
            img{
               float: right;
               width: 30vw;
            }
         }
      }
      
      div#whoAre-vermas{
         width: 100px;
         display: block;
         margin: 50px auto !important;
         
         span{
            width: 100px;
            display: inline-block;
            text-align: center;
            font-size: 1.2em;
         }
         i{
            width: 100px;
            display: inline-block;
            text-align: center;
            font-size: 1.2em;
         }
      }
   }
   
   // NEWS
   section#news{
      height: 100%;
      width: 100%;
      padding: 0;
      margin: auto 0;
      
      div.row{
         padding: 0 20px;
         width: 100%;
         margin: 0;
         article.post{
            a{
               text-decoration: none;
               div.card{
                  border-radius: 15px;
                  box-shadow: 8px 24px 33px -2px rgba(168,165,165,0.56);
                  -webkit-box-shadow: 8px 24px 33px -2px rgba(168,165,165,0.56);
                  -moz-box-shadow: 8px 24px 33px -2px rgba(168,165,165,0.56);
                  img{
                     height: 200px;
                     object-fit: contain
                  }
               }
            }
         }
      }
   }
   
   // footer
   @import '../inc/footer';
}