@import '../inc/rules';
.container-fluid{
    width: 100vw;
    height: 100%;
    padding: 50px 20vw;
    background: url('../../assets/img/pic01.jpg') no-repeat fixed center;
    background-size: cover;
    form{
        width: 60vw;
        height: 80vh;
        padding: 30px;
        background: rgba(190, 190, 190, 0.7);
        backdrop-filter: blur(10px);
        .mb-3{
            label{
                width: 100%;
                text-align: center;
                font-size: 1.2em;
            }
            input[type="submit"]{
                width: 100%;
            }
        }
    }
}