@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
* {
  padding: 0;
  margin: 0;
  color: #111113;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html body {
  max-width: 100vw;
  width: 100% !important;
  height: 100%;
  overflow-x: hidden !important;
  background: #FAFAFF;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.container-fluid header {
  width: 100%;
  height: 100%;
  margin: auto 0;
  z-index: 1000;
  position: relative;
  top: 0;
  left: 0;
  background: #8DCBE2;
}

.container-fluid header nav {
  width: inherit;
  padding: 0 20px;
}

.container-fluid main {
  background: yellow;
}

.container-fluid main div.row {
  padding: 50px 30px;
}

.container-fluid main div.row form {
  padding: 0;
}

.container-fluid main div.row form div {
  padding: 0 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: lightblue;
}

@media (max-width: 768px) {
  .container-fluid main div.row form div {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
  }
}

.container-fluid main div.row form div div {
  width: 100%;
}

.container-fluid main div.row form div div button {
  width: 150px;
  position: relative;
  left: calc(50% - 75px);
}

.container-fluid main div.row aside {
  padding: 0;
}

.container-fluid main div.row aside .list-group {
  width: 100%;
  height: 291px;
  position: relative;
  top: calc(50% - 145.5px);
  border-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media (max-width: 768px) {
  .container-fluid main div.row aside .list-group {
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.container-fluid main div.row aside .list-group a.list-group-item {
  height: 72.75px;
  padding: 0 16px;
}

.container-fluid main div.row aside .list-group a.list-group-item i {
  line-height: 72.75px;
}

.container-fluid footer#footer {
  padding: 10px 5vw;
}

.container-fluid footer#footer ul {
  width: 100%;
  list-style: none;
}

.container-fluid footer#footer ul div.row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container-fluid footer#footer ul div.row li {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid footer#footer ul div.row li i {
  font-size: 30px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
  -webkit-transition: ease .4s;
  transition: ease .4s;
}

.container-fluid footer#footer ul div.row li i:hover {
  background: #C2EBFF;
  text-align: center !important;
}

.container-fluid footer#footer ul div.row li a {
  text-decoration: none;
  color: #111113;
}
/*# sourceMappingURL=contacto.css.map */