@import '../inc/rules';
.container-xxxl{
   // HEADER
   @import '../inc/header';
   
    // MAIN
    main#main{
        .row{
            h1#title{
                width: 100vw;
                margin: 100px 0 !important;
                display: block;
                text-align: center;
            }
        }
        .row:nth-child(2){
            width: 100%;

            article{
                img{
                    height: 50vh;
                    display: block;
                    margin: 30px auto;
                }
            }
        }
    }

   // footer
   @import '../inc/footer';
}