@import '../inc/rules';
.container-fluid{
    padding: 0;
   // HEADER
   @import '../inc/header';
   
    // MAIN
    main#main{
        .row{
            h1#title{
                width: 100vw;
                margin: 100px 0 !important;
                display: block;
                text-align: center;
            }
        }
        .row:nth-child(2){
            width: 100vw;

            article{
                .row{
                    width: 100%;
                    margin: 20px auto;
                    a{
                        width: 100%;
                        padding: 0;
                        img{
                            height: 50vh;
                            display: block;
                            margin: 30px auto;
                            border-radius: 8px;
                            box-shadow: 10px 13px 23px -6px rgba(110,110,110,0.44);
                            -webkit-box-shadow: 10px 13px 23px -6px rgba(110,110,110,0.44);
                            -moz-box-shadow: 10px 13px 23px -6px rgba(110,110,110,0.44);
                            cursor: pointer;
                        }
                    }
                    h5{
                        text-align: center;
                    }
                }
            }
        }
    }

   // footer
   @import '../inc/footer';
}